$first-palette: #243e36;
$second-palette: #7ca982;
$third-palette: #e0eec6;
$fourth-palette: #c2a83e;
$set-border: 2px solid #9aebff;
$font-size-set: 30px;
$serif-fonts: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
